.flexContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 1s ease;
}

.item:hover {
  transform: scale(1.02);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.item h3 {
  z-index: 2;
  position: relative;
}

.item h4 {
  z-index: 2;
  position: relative;
}

.item p {
  z-index: 2;
  color: black;
}

.hoveredCardInfo {
  margin-bottom: 40px;
}

.cardInfo h3 {
  margin-top: 20px;
}

.mediumCard {
  flex: 2;
}

.smallCard {
  flex: 1;
}

.actionButton {
  margin-top: 40px;
  z-index: 2;
  position: relative;
  height: 60px;
  width: 200px;
  transform: scale(1);
  transition: all 1s ease;
}

.actionButton:hover {
  background-color: #ff4949;
  border: none;
  transform: scale(1.2);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

@media (max-width: 1200px) {
  .flexContainer {
    width: 100%;
    flex-direction: column;
  }

  .banner_background {
    width: 100%
  }

  .mediumCard,
  .smallCard {
    display: flex;
    width: 100%;
    flex: 1 1 400px;
  }

  .actionButton {
    height: 80px;
    width: 200px;
  }
}
